<div class="info-window">
  <p class="commenter-info"><strong>{{ username }}</strong> commented</p>
  <p>
    {{ truncated_comment }}
    {%if(is_truncated){ %}
      <a href="{{ url }}" target="_blank">Read more</a>
    {% } %}
  </p>
</div>
