<div id="gallery-wrapper">
  <div id="stage">
  </div>
  <a id="previous-item" class="left-nav">previous</a>
  <a id="next-item"  class="right-nav">next</a>
  <div id="thumbnails-list">
    <ul>
    </ul>
    <a id="previous-page" class="left-nav">previous</a>
    <a id="next-page"  class="right-nav">next</a>
  </div>
</div>
