<div>
  <h2>{{ title  }}</h2>
  <p> {{ description }} </p>
  <a href="#" id="close-description"></a>
</div>
  <p> {% if(channels[0]){  %} Found in: {% } %} <span class="info"> {{ (channels[0] || {} ).name }}
    {% for(var i = 1; i < channels.length; i++){ %}
        , {{ channels[i].name }}
    {% } %}
  </span></p>
