<div id="gallery-wrapper">
  <div id="stage">
  </div>
  <a id="previous-page">previous</a>
  <a id="next-page">next</a>
  <div id="thumbnails-list">
    <ul>
    </ul>
    <a id="previous-page">previous</a>
    <a id="next-page">next</a>
  </div>
</div>
