<div id="pictour-container">
  <h2>{{ title  }}</h2>
  <div id="pictour-info">
    <ul id="pictour-photos">
      {% for(var i = 0; i < photos.length; i++){ %}
      <li class="pictour-thumbnail">
        <a href="{{ url }}" target="_blank">
          <img src="{{ photos[i].mini_thumb_url  }}" />
        </a>
     </li>
      {% } %}
    </ul>
  </div>
  <div id="pictour-details">
    <a target="_parent" href="{{ url }}"><img src="{{ static_map }}"></img></a>
    <a target="_parent" href="{{ url }}">View Pictour</a>
  </div>
</div>
