<div>
  <h2>{{ title  }}</h2>
  <p> {{ description }} </p>
  <a href="#" id="close-description"></a>
</div>
<p> {% if(channels[0]){  %} Found in: {% } %} <span class="info"> 
    <a href="{{(channels[0]||{}).url}}">{{ (channels[0] || {} ).name }}</a>
    {% for(var i = 1; i < channels.length; i++){ %}
    , <a href="{{channels[i].url}}">{{ channels[i].name }}</a> 
    {% } %}
  </span></p>
