<div id="gallery-wrapper">
  <div id="stage-wrapper">
    <a id="previous-item" class="left-nav"></a>
    <div id="stage">
    </div>
    <div id="item-description"></div>
    <a id="next-item"  class="right-nav"></a>
    <a href="#" id="show-description"></a>
  </div>
  <div id="thumbnails-list">
    <a id="previous-page" class="left-nav"></a>
    <ul>
    </ul>
    <a id="next-page"  class="right-nav"></a>
  </div>
</div>
