// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    margin: 0;
    padding: 0;
    width: 1265px;
    height: 800px;
    font-family: Helvetica, Arial, "Trebuchet MS";
}

#map{
    width: 100%;
    height: 100%;
}

#gallery{
    padding-top: 30px;
    padding-left: 30px;
}

.info-window{
    width: 200px;
    font-size: 0.7em;
}

